{% extends "pattern_finder/layout.html" %}
{% load static %}
{% load ordinal %}
{% load humanize %}


{% block body %}
    {% include 'pattern_finder/legacies/search_area_input.html' %}
    
    <div class="details-body-content">
        <div class="chunk_details_block">
            <div class="chunk_details">
                
                <div class="data">
                    <div class="numbers">
                        <p>{{ highlighted_chunk|safe }}</p>
                    </div>
                    <div class="nav_numbers">
                        <form method="get">
                            <input type="hidden" name="match_index" value="{{ match_index }}">
                            <input type="hidden" name="current_page" value="{{ current_page }}">
                            {% if has_prev_match %}
                                <button name="match_index" value="{{ match_index|add:'-1' }}">← Prev Match</button>
                            {% endif %}

                            {% if has_next_match %}
                                <button name="match_index" value="{{ match_index|add:'1' }}">Next Match →</button>
                            {% endif %}
                            <div class="match_number">
                                {% if match_index %}
                                    Match number: {{ match_index }}
                                {% endif %}
                            </div>
                            <div class="match_number">
                                {% if match_pos %}
                                    Match position (index): {{ match_pos|intcomma }}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="description">
                    <div class="path">
                        <!-- <div class="which_trillion"></div> -->
                        <div class="which_billion">
                            1st billion 
                        </div>
                        <div class="which_200mil">
                            {{ mil_id|add:'1'|ordinal }} million
                        </div>
                    </div>
                    <div class="result">
                        <h1>Results</h1>
                        <p>
                            The string <strong>{{ pattern }}</strong> occurs <strong>{{ count_of_find_patterns }}</strong> <br>
                            counting from the first digit after the decimal point. The 3. is not counted. <br>
                            <strong>{{ result.runtime }}</strong>
                        </p>
                    </div>
                    <div class="find_new_pattern_on_page">
                        {% if mil_id > -1 %}
                            <form action="{% url 'pi_chunk_detail' mil_id|add:'1' %}?match_index={{ match_index }}&current_page={{ current_page }}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="find_form" value="clear_patterns">

 	                            <h3>Let’s find other beautiful patterns:</h3>
 	                            <div class="find_input_block">
 	                                <input type="text" name="find_pattern" class="search-area-input" placeholder="Search strings">
 	                                <button type="submit" class="search-area-button">Find</button>
   	                            </div>
   	                            <a href="{% url 'all_page' %}">All</a>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="find_patterns_on_page_blocks">
            <div>
                {% if pattern_colors %}
                    {% for pattern, color_class in pattern_colors %}
                        <div class="find_pattern_print {{ color_class }}">
                            <h3>{{ pattern }}</h3>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <form action="{% url 'clear_find_patterns' %}?match_index={{ match_index }}&current_page={{ current_page }}" method="POST" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="clear_form" value="clear_patterns">
                <button type="submit" class="search-area-button">Clear</button>
            </form>
        </div>
    </div>
{% endblock %}