<div class="search-pi-section">
    <div class="search-area">
        {% if button_text %}
            <form action="{% url 'find' %}" method="POST">
        {% else %}
            <form action="{% url 'pi_search' %}" method="POST">
        {% endif %}
            {% csrf_token %}
            <input type="text" name="pattern" class="search-area-input" placeholder="Search strings">
            {% if button_text %}
                <button type="submit" class="search-area-button">{{ button_text }}</button>
            {% else %}
                <button type="submit" class="search-area-button">Search Pi</button>
            {% endif %}
        </form>
    </div>
</div>