{% extends "pattern_finder/layout.html" %}
{% load static %}
{% load ordinal %}

{% block body %}
    {% include 'pattern_finder/legacies/search_area_input.html' %}

    <div class="find-blocks-area">
        
        {% for file_number, filename, data in file_entries %}
            <a href="{% url 'pi_chunk_detail' forloop.counter %}" class="find-object-200m">
                <h2>{{ file_number|ordinal }} of 100 millions</h2>

                {% if data.count > 0 %}
                    <div class="find-count-of-coincidence">
                        {{ data.count }}
                    </div>
                {% endif %}
            </a>
        {% endfor %}

    </div>
{% endblock %}