/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: sans-serif;
  background: #fff;
  color: #000;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
/* End CSS Reset */

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

header { 
  width: 100%;
  height: 150px;
  background-color: #99CC00;
  
  display: flex;
  overflow: hidden;
}
.header-images {
  user-select: none;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.header-images img {
  height: 100%;

}
.header-nav {
  height: 100%;
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background-color: #99CC00;
}
.header-nav-title {
  display: flex;
  gap: 40px;
  font-size: 20px;
  height: 100%;
}
.header-nav-title h1 {
  display: flex;
  align-items: end;
  color: #0000FF;
}
.header-nav-title h4 {
  display: flex;
  align-items: end;
  color: white;
}
.header-nav-links {
  height: 100%;
  display: flex;
  gap: 20px;
}
.header-nav-links a {
  padding: 12px;
  color: #ffff00;
  font-size: x-large;
  font-weight: bold;
}
.search-pi-section {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-pi-section .search-area {
  margin-right: 10px;
  width: 350px;
  height: 60px;

  border: 1px solid rgb(119, 119, 119);
  border-bottom: 2px solid gray;
}
.search-pi-section form {
  display: flex;
  height: 100%;
  width: 100%;
}
.search-pi-section form input {
  width: 75%;
  padding: 10px;
}
.search-pi-section form button {
  width: 25%;
}





.find-blocks-area {
  display: flex;
  color: white;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 20px;
}
.find-object-200m {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 150px;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  border: 2px solid rgb(131, 1, 143);

}
.find-object-200m h2 {
}
.find-count-of-coincidence {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 20px;  

  position: absolute;
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  margin-top: 45%;
  border-radius: 20px;
}




.chunk_details_block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.chunk_details {
  display: flex;
  width: 100%;
  height: 70%;
}


.chunk_details .description {
  width: 100%;
  overflow: hidden;
}
.chunk_details .description .path {
  position: relative;
  display: flex;
  height: 10%;
  border: 2px solid rgb(29, 255, 180);
  padding: 7px;
  gap: 10px;
}
.chunk_details .description .path .which_trillion {
}
.chunk_details .description .path .which_billion {
}
.chunk_details .description .path .which_200mil {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  height: 100%;
  width: 100%;
}



.chunk_details .description .result {
  height: 45%;
  border: 2px solid rgb(29, 255, 180);
}
.chunk_details .description .result h1 {
  padding: 20px;
}
.chunk_details .description .result p {
  margin-left: 30px;
}
.chunk_details .description .result strong {
  color: blue;
  border: 1px solid black;  
}

.chunk_details .description .find_new_pattern_on_page {
  height: 45%;
  border: 2px solid rgb(29, 255, 180);
}





.chunk_details .data {
  width: 100%;
  overflow: hidden;
}
.chunk_details .data .numbers {
  height: 87%;
  overflow-y: scroll;
  border: 2px solid rgb(29, 255, 180);
}
.chunk_details .data .nav_numbers {
  height: 13%;
  border: 2px solid rgb(29, 255, 180);
}






.find_patterns_on_page_blocks {

  width: 100%;
  height: 10%;
  border: 2px solid #8e2de2;
}