/* Variables */
/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  background: #fff;
  color: #000;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  background-color: #99CC00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
header .header-images {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 15px;
  padding: 10px 0;
}
header .header-images img {
  height: 100%;
}
header .header-nav {
  height: 100%;
  width: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #99CC00;
}
header .header-nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  font-size: 20px;
  height: 100%;
}
header .header-nav-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #0000FF;
}
header .header-nav-title h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #ffffff;
}
header .header-nav-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
header .header-nav-links a {
  padding: 12px;
  color: #ffff00;
  font-size: x-large;
  font-weight: bold;
}

.search-pi-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  margin: 10px 0;
}
.search-pi-section .search-area {
  margin-right: 10px;
  width: 350px;
  height: 60px;
  border: 1px solid rgb(119, 119, 119);
  border-bottom: 2px solid gray;
}
.search-pi-section h1 {
  margin-right: auto;
}
.search-pi-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}
.search-pi-section form input {
  width: 75%;
  padding: 10px;
}
.search-pi-section form button {
  width: 25%;
}

.find-blocks-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(255, 255, 255);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100vw;
  overflow-y: auto;
}
.find-blocks-area > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.find-blocks-area .find-object-200m {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 181px;
  height: 150px;
  background: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  border: 2px solid rgb(131, 1, 143);
}
.find-blocks-area .find-object-200m h2 {
  width: 126px;
  margin-bottom: 20px;
}
.find-blocks-area .find-object-200m .find-count-of-coincidence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 20px;
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  margin-top: 45%;
  border-radius: 20px;
}

.chunk_details_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.chunk_details_block .chunk_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}
.chunk_details_block .chunk_details .description {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: scroll;
}
.chunk_details_block .chunk_details .description .path {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  max-height: 60px;
  background-color: #A15CF5;
  padding: 7px;
  gap: 10px;
}
.chunk_details_block .chunk_details .description .path .which_trillion,
.chunk_details_block .chunk_details .description .path .which_billion,
.chunk_details_block .chunk_details .description .path .which_200mil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6825A3;
  color: white;
  height: 100%;
  width: 100%;
}
.chunk_details_block .chunk_details .description .result {
  height: 45%;
  min-height: 160px;
  overflow-y: scroll;
}
.chunk_details_block .chunk_details .description .result h1 {
  padding: 20px;
}
.chunk_details_block .chunk_details .description .result p {
  margin-left: 30px;
}
.chunk_details_block .chunk_details .description .result strong {
  color: blue;
  border: 1px solid black;
}
.chunk_details_block .chunk_details .description .find_new_pattern_on_page {
  margin-bottom: 30px;
  margin-top: 20px;
}
.chunk_details_block .chunk_details .description .find_new_pattern_on_page h3 {
  margin: 20px;
}
.chunk_details_block .chunk_details .description .find_new_pattern_on_page .find_input_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  gap: 2px;
}
.chunk_details_block .chunk_details .description .find_new_pattern_on_page input {
  margin: 0 0 0 40px;
  width: 225px;
  height: 40px;
  padding: 10px;
  color: #000;
}
.chunk_details_block .chunk_details .description .find_new_pattern_on_page button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  padding: 10px;
}
.chunk_details_block .chunk_details .description .find_new_pattern_on_page a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0 0 40px;
  width: 60px;
  border: 1px solid black;
  padding: 5px;
}
.chunk_details_block .chunk_details .data {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid rgb(116, 29, 255);
}
.chunk_details_block .chunk_details .data .numbers {
  height: 87%;
  max-height: 450px;
  word-wrap: break-word;
  overflow-y: scroll;
  padding: 10px;
}
.chunk_details_block .chunk_details .data .nav_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 13%;
  padding: 5px;
  gap: 20px;
}
.chunk_details_block .chunk_details .data .nav_numbers form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 5px;
}
.chunk_details_block .chunk_details .data .nav_numbers form .match_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 10px;
  min-height: 30px;
  border: 2px solid rgb(0, 177, 118);
}
.chunk_details_block .chunk_details .data .nav_numbers button {
  padding: 5px;
}
.chunk_details_block .chunk_details .data .nav_numbers .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  background-color: #acb2ff;
  border-radius: 20px;
}
.chunk_details_block .chunk_details .data .nav_numbers .next_match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 20px;
  height: 100%;
}
.chunk_details_block .chunk_details .data .nav_numbers .next_match p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chunk_details_block .chunk_details .data .nav_numbers .next_match button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.highlight {
  background-color: #3dffae;
  border: 2px solid #005a35;
  font-weight: 900;
}

.highlight-color0 {
  border: 1px solid hsl(27, 100%, 36%);
  color: hsl(27, 100%, 36%);
  font-weight: 900;
}

.highlight-color1 {
  border: 1px solid hsl(266, 100%, 34%);
  color: hsl(266, 100%, 34%);
  font-weight: 900;
}

.highlight-color2 {
  border: 1px solid hsl(231, 100%, 34%);
  color: hsl(231, 100%, 34%);
  font-weight: 900;
}

.highlight-color3 {
  border: 1px solid hsl(337, 100%, 35%);
  color: hsl(337, 100%, 35%);
  font-weight: 900;
}

.highlight-color4 {
  border: 1px solid hsl(41, 100%, 29%);
  color: hsl(41, 100%, 29%);
  font-weight: 900;
}

.highlight-color5 {
  border: 1px solid hsl(98, 100%, 37%);
  color: hsl(98, 100%, 37%);
  font-weight: 900;
}

.highlight-color6 {
  border: 1px solid hsl(162, 100%, 41%);
  color: hsl(162, 100%, 41%);
  font-weight: 900;
}

.highlight-color7 {
  border: 1px solid hsl(4, 100%, 35%);
  color: hsl(4, 100%, 35%);
  font-weight: 900;
}

.highlight-color8 {
  border: 1px solid hsl(318, 100%, 39%);
  color: hsl(318, 100%, 39%);
  font-weight: 900;
}

.highlight-color9 {
  border: 1px solid hsl(125, 100%, 40%);
  color: hsl(125, 100%, 40%);
  font-weight: 900;
}

.details-body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.details-body-content .find_patterns_on_page_blocks-xs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  max-width: 100%;
}
.details-body-content .find_patterns_on_page_blocks-xs .search-area-button {
  width: 100px;
  height: 40px;
  border: 1px solid black;
}
.details-body-content .find_patterns_on_page_blocks-xs h3 {
  word-break: break-all;
}
.details-body-content .find_patterns_on_page_blocks-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 10px;
  gap: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  min-height: 30px;
}
.details-body-content .find_patterns_on_page_blocks-lg div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.details-body-content .find_patterns_on_page_blocks-lg div div h3 {
  max-width: 100%;
  word-wrap: break-word;
}
.details-body-content .find_patterns_on_page_blocks-lg .find_pattern_print {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  width: 90%;
}
.details-body-content .find_patterns_on_page_blocks-lg .find_pattern_print h3 {
  max-width: 90%;
  word-break: break-word;
}
.details-body-content .find_patterns_on_page_blocks-lg .search-area-button {
  width: 100px;
  height: 40px;
  border: 2px solid black;
}

.all_page_title {
  margin-top: 0px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.all-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 100%;
}
.all-nav hr {
  border: none;
  height: 1px;
  background-image: repeating-linear-gradient(to right, black 14px, transparent 30px);
  width: 100%;
  max-width: 1000px;
  margin-bottom: 10px;
}
.all-nav .pages-nav-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
}
.all-nav .pages-nav-lg > div:first-child {
  text-align: center;
}
.all-nav .pages-nav-lg > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.all-nav .pages-nav-md {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
.all-nav .pages-nav-md div {
  text-align: center;
}

.all-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 50%;
  margin-bottom: 500px;
}
.all-content-block .all-numbers-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 90%;
  width: 70%;
  margin-left: auto;
  border: 2px solid #3dffae;
}
.all-content-block .all-numbers-block .numbers {
  height: 92%;
  max-height: 92%;
  word-wrap: break-word;
  overflow-y: scroll;
  padding: 15px;
}
.all-content-block .all-numbers-block .numbers-addit-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
  border: 2px solid aqua;
}
.all-content-block .all-numbers-block .numbers-addit-nav div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 30px;
}
.all-content-block .all-patterns-block {
  width: 20%;
  min-height: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: auto;
  padding-bottom: 50px;
}
.all-content-block .all-patterns-block .find_patterns_on_page_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  border: 2px solid #3dffae;
}
.all-content-block .all-patterns-block .find_patterns_on_page_blocks .search-area-button {
  width: 100px;
  height: 40px;
  border: 1px solid black;
}
.all-content-block .all-patterns-block .find_patterns_on_page_blocks .find_pattern_print {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 40px;
  margin-bottom: 10px;
}
.all-content-block .all-patterns-block .find_patterns_on_page_blocks .find_pattern_print h3 {
  max-width: 90%;
  word-break: break-word !important;
  padding: 10px;
}

/* Media queries */
@media (max-width: 1199px) {
  .all-content-block {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .all-content-block .all-patterns-block {
    width: 100%;
  }
  .all-content-block .all-numbers-block {
    width: 100%;
  }
  .find_patterns_on_page_blocks-lg {
    display: none !important;
  }
  .find_patterns_on_page_blocks-xs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .find_patterns_on_page_blocks-xs h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
  }
  .chunk_details {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .data {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .description {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .header-nav h1 {
    font-size: 25px;
  }
  .header-nav h4 {
    font-size: 15px;
  }
  .header-nav .header-nav-links a {
    font-size: 20px;
  }
  .pages-nav-lg {
    display: none !important;
  }
  .pages-nav-md {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 785px) {
  .find_pattern_print h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px;
  }
  header {
    height: 100px;
  }
  header .header-nav h1 {
    font-size: 17px;
  }
  header .header-nav h4 {
    font-size: 12px;
  }
  header .header-nav .header-nav-links {
    gap: 5px;
  }
  header .header-nav .header-nav-links a {
    font-size: 12px;
    padding: 5px;
  }
  header .header-images {
    gap: 2px;
  }
}
@media (max-width: 580px) {
  .header-nav h1 {
    font-size: 15px !important;
  }
  .header-nav h4 {
    font-size: 10px !important;
  }
  .header-nav .header-nav-links a {
    font-size: 13px !important;
  }
  .pages-nav-lg {
    display: none !important;
  }
  .pages-nav-md {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .all_page_title {
    margin-left: 5px;
    font-size: 20px;
  }
}
@media (max-height: 950px) {
  header {
    min-height: 100px;
  }
  .result {
    height: 45%;
    min-height: 115px;
    overflow-y: scroll;
  }
  .result h1 {
    font-size: 20px;
    padding: 10px !important;
  }
  .find_new_pattern_on_page {
    min-height: 110px;
  }
  .chunk_details_block {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100%;
  }
}